<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="divRest"></div>
    <button id="btnRest">Get Listing</button>
    <h2 id="h2Name"></h2>
    <h2 id="h2Address"></h2>
    <h2 id="h2Borough"></h2>
    <h2 id="h2ZipCode"></h2><br>
    <h2>Grades</h2>
    <table id="tGrades">
      <th>date</th>
      <th>grade</th>
      <th>score</th>
    
    </table>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
